@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.fade-in {
  animation: fadein 0.7s 1 ease-in-out;
}

.spin {
  animation: fa-spin 10s infinite linear;
}
