.drawer-menu {
  z-index: 6;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  visibility: hidden;

  transition: visibility 0s linear 0.15s;

  .drawer-menu-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: transparent;

    transition: background-color 0.15s ease-out 0s;
  }

  .drawer-menu-side {
    height: 100%;
    width: 250px;
    background-color: white;
    position: absolute;
    top: 0;

    transform: translate(-100%, 0);

    transition: transform 0.15s ease-out;
  }

  &.shown {
    visibility: visible;
    
    transition: visibility 0s linear 0s;

    .drawer-menu-backdrop {
      background-color: rgba(0, 0, 0, 0.5);

      transition: background-color 0.15s ease-out 0s;
    }

    .drawer-menu-side {
      transform: translate(0, 0);
    }
  }
}

body {
  &.drawer-menu-open {
    overflow: hidden;
  }
}
